<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Plateforme Deep Learning</title>
  <script src="{{url_for('static', filename='js/jquery.min.js')}}" charset="utf-8"></script>
   <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.4.1/semantic.min.css"
      integrity="sha256-9mbkOfVho3ZPXfM7W8sV2SndrGDuh7wuyLjtsWeTI1Q="
      crossorigin="anonymous"
    />

    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css"
      integrity="sha256-+N4/V/SbAFiW1MPBCXnfnP9QSN3+Keu+NlB+0ev/YKQ="
      crossorigin="anonymous"
    />
</head>
<body>

    <div id="header" class="ui secondary pointing menu">
      <a class="active item">Gestion des Datas</a>
    </div>
    <div id="content" class="ui container">
    <div class="ui two column grid">
     <div class="row">
     <div class="column">
      {% block content %}
      {% endblock %}
    </div>
    </div>
    </div>
    </div>
    <div id="footer">
    </div>
    {% block script %}
    {% endblock %}

</body>
</html>
