<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Plateforme Deep Learning</title>
    <link rel="stylesheet" type="text/css" href="../static/bootstrap-4/css/bootstrap.css"/>
  </head>
  <body>
    <div class="container">
      <div id="header">
        <h1>Plateforme Deep Learning</h1>
      </div>
      <div id="content">
        Telecharger le fichier de configuration <a href="{{url_for('download_file')}}">en cliquant ici</a>
      </div>
      <div id="footer">

      </div>
    </div>
  </body>
</html>
