<div class="ui grid">
    <div class="row">
        <div class="twelve wide column">
            <canvas id="myChart" width="400" height="100"></canvas>
        </div>
        <div class="three wide column">
            <div class="ui selection list">
                <div class="item">
                    <h1 id="temp" class="ui label red big">0°</h1><br>
                </div>
                <div class="item">
                    <h1 id="ram" class="ui label green big">0G</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="four wide column">
        <div class="ui fluid card">
            <div class="content center">
                <h1 id="core1_val">
                    <i class="microship icon"></i>
                    0%
                </h1>
            </div>
            <div class="image">
                <canvas id="core1" width="400" height="230"></canvas>
            </div>
        </div>
    </div>
    <div class="four wide column">
        <div class="ui fluid card">
            <div class="content center">
                <h1 id="core2_val">
                    <i class="microship icon"></i>
                    0%
                </h1>
            </div>
            <div class="image">
                <canvas id="core2" width="400" height="230"></canvas>
            </div>
        </div>
    </div>
    <div class="four wide column">
        <div class="ui fluid card">
            <div class="content center">
                <h1 id="core3_val">
                    <i class="microship icon"></i>
                    0%
                </h1>
            </div>
            <div class="image">
                <canvas id="core3" width="400" height="230"></canvas>
            </div>
        </div>
    </div>
    <div class="four wide column">
        <div class="ui fluid card">
            <div class="content center">
                <h1 id="core4_val">
                    <i class="microship icon"></i>
                    0%
                </h1>
            </div>
            <div class="image">
                <canvas id="core4" width="400" height="230"></canvas>
            </div>
        </div>
    </div>
</div>
<br><br>