<div class="ui sixteen wide column">
  <div class="title header active">
    <i class="dropdown icon"></i>
    Data
  </div>
  <div class="content active" id="section1">
    <div class="two fields">
      <div class="field">
        <strong class="ui">
          <label for="">Format des Données :</label>
          <i class="icon  ui info circle blue infos-details" data-content="Add users to your feed"></i>
        </strong>
        <select name="DATA_FORMAT" class="ui fluid dropdown "  required>
          <option value="">Selectionnez</option>
          <option value="KERAS">KERAS</option>
          <option value="VOC">VOC</option>
          <option value="GEN">GEN</option>
        </select>
      </div>
      <div class="field">
        <strong class="ui">
          <label for="">Dossier Racine :</label>
          <i class="icon  ui info circle blue infos-details" data-content="Add users to your feed"></i>
        </strong>
        <input type="text" name="DATA_PATH" class="champ"  id="field_path_input">
        <div id="section_path_select" hidden>
          <select id="field_path_select" class="ui fluid dropdown" name="DATA_PATH">
            <option value="">Selectionnez</option>
            <option value="MNIST">MNIST</option>
          </select>
        </div>
      </div>
    </div>
    <div class="field">
      <strong class="ui">
        <label for="">Generation des Données :</label>
        <i class="icon  ui info circle blue infos-details" data-content="Add users to your feed"></i>
      </strong>
      <select class="ui fluid dropdown" name="DATA_FEED" required>
        <option value="">Selectionnez</option>
        <option value="GENERATOR">GENERATOR</option>
        <option value="IMG">IMG</option>
        <option value="KERAS_DATASET">KERAS_DATASET</option>
      </select>
    </div>
    <div class="field">
      <strong class="ui">
        <label for="">Type de Données :</label>
        <i class="icon  ui info circle blue infos-details" data-content="Add users to your feed"></i>
      </strong>
      <select name="DATA_TYPE" class="ui fluid dropdown" required>
        <option value="">Selectionnez</option>
        <option value="IMG">IMG</option>
      </select>
    </div>
    <div class="field" id="section_reshape" hidden>
      <strong class="ui checkbox">
        <label for="">Formatage des Données</label>
        <input type="checkbox" name="RESHAPE" checked="true" class="hidden">
      </strong>
    </div>
    <div id="section_format" hidden=true>
      <div class="field">
        <strong class="ui">
          <label id="label_format">Format du Label:</label>
          <i class="icon  ui info circle blue infos-details" data-content="Add users to your feed"></i>
        </strong>
        <select name="LABEL_FORMAT" class="ui fluid dropdown">
          <option value="">Selectionnez</option>
          <option value="VIA_JSON">VIA_JSON</option>
        </select>
      </div>
      <div class="field">
        <strong class="ui">
          <label for="">Fichier d'Annontation : </label>
          <i class="icon  ui info circle blue infos-details" data-content="Add users to your feed"></i>
        </strong>
        <div class="ui">
          <input type="file" name="LABEL_NAME">
        </div>
      </div>
    </div>
    <div id="section_classes" class="field" hidden>
      <strong class="ui">
        <label for="">Classes :</label>
        <i class="icon  ui info circle blue infos-details" data-content="Add users to your feed"></i>
      </strong>
      <div class="ui input">
        <input type="text" name="CLASSES" value="background" required>
      </div>
    </div>
  </div>
</div>
