<div class="title header">
  <i class="dropdown icon"></i>
  Generateur
</div>
<div class="content">
  <label for="">Normalisation</label>:
<input type="checkbox" name="RESCALE">
<br><br>
<div class="ui label">
  <label for="">Taille des Images :</label>
</div>
<div class="ui input">
  <input type="number" name="imgSizeSortiey1" style="width:100px">
</div>
<strong>x</strong>
<div class="ui input">
  <input type="number" name="imgSizeSortiey2" style="width:100px">
</div>
<br><br>
<div class="ui label">
  <label for="">Taille du batch:</label>
</div>
<div class="ui input">
  <input type="number" name="BATCH_SIZE" min="1" value="1">
</div>
<br><br>
<div class="ui label">
  <label for="">Format du label :</label>
</div>
<select name="CLASS_MODE" id="" class="ui fluid dropdown">
  <option value="categorical">Categorical</option>
</select>
</div>