{% extends "base.html.j2" %}

{% block content %}
<div class="row">
    <h1 class="ui header teal row">Traitement d'Images (Gestion des Paramètres)</h1>
    <div class="ui raised segment">
        <h4 class="ui header">Description :</h4>
        <p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum tortor quam, feugiat vitae, ultricies eget, tempor sit amet, ante. Donec eu libero sit amet quam egestas semper. Aenean ultricies mi vitae est. Mauris placerat eleifend leo.</p>
    </div>
<div class="ui grid eight wide column">
    <img src="/static/images/outputs/{{imagename}}" name="{{imagename}}" id="img">
</div>
<div class="slidecontainer ui grid eight wide column">
    <img src="/static/images/outputs/{{imagename}}" id="new">
    <input type="range" min="0.0" max="1.0" step="0.1" value="0.5" class="slider" id="myRange">
</div>
</div>
{% endblock %}
{% block script %}
<script src="{{url_for('static', filename='js/slider.js')}}"></script>
{%endblock%}
