{% extends "base.html.j2" %}

{% block content %}
<div class="ui ten wide column">
  <img class="ui image" src="{{url_for('static', filename='images/mnistaccuracy.png')}}">
</div>
<div class="ui ten wide column">
  <img src="{{url_for('static', filename='images/mnistloss.png')}}">
</div>

{% endblock %}