{% extends "base.html.j2" %}

{% block content %}
<div class="ui">
  <h1 class="ui header blue row">Visualisations MNIST</h1>
  <div class="ui raised segment blue">
    <h4 class="ui header">Description :</h4>
    <p>
      Les visualisations des métriques lors de l'entrainement ou des résultats lors de l'inférence permettent de constater visuellement de l'efficacité de la tâche effectuée.
    </p>
  </div>
  <br>
  <button class="ui button black" id="btn-display">Lancer la visualisation</button>
</div>
<br>
<div id="images" class="ui grid" >
</div>

{% endblock %}

{% block script %}
<script src="{{url_for('static', filename='js/script-visualisation.js')}}"></script>
{%endblock%}
